﻿@model Orders
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Shopping cart layout-->
<body class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-1 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-6">
                    <span class="text-muted"><br />Your cart</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">@Model.Product1</h6>
                            <small class="text-muted">Description</small>
                        </div>
                        <span class="text-muted ">$50</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">@Model.Product2</h6>
                            <small class="text-muted">Description</small>
                        </div>
                        <span class="text-muted">$100</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <h6 class="my-0">@Model.Product3</h6>
                            <small class="text-muted">Description</small>
                        </div>
                        <span class="text-muted">$20</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <div class="text-success">
                            <h6 class="my-0">Promo</h6>
                            <small id="pcode"></small>
                        </div>
                        <span id="dis" class="text-success"></span>

                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>TOTAL</span>
                        <strong id="total">$170</strong>
                    </li>
                </ul>
                <form class="card p-2">
                    <div class="input-group">
                        <input type="text" id="code1" class="form-control" placeholder="Promo code">
                        <div class="input-group-append">
                            <button type="button" onclick="promo()">Redeem</button>
                        </div>
                    </div>
                    <small>&nbsp; &nbsp; *Apply CORONA50 to get 50 off</small>
                </form>
            </div>
           
            <!--payment form-->
            <div class="col-md-6 order-md-2">
                
                <form action="\LastPage.cshtml" class="needs-validation" novalidate>
                    <hr class="mb-4">
                    <h4 class="mb-3">Payment</h4>
                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                            <label class="custom-control-label" for="credit">Credit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                            <label class="custom-control-label" for="debit">Debit card</label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="cc-name">Name on card</label>
                            <input type="text" class="form-control" id="cc-name" placeholder="" required>
                            <small class="text-muted">Full name as displayed on card</small>
                            <div class="invalid-feedback">
                                Name on card is required
                            </div>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="cc-number">Card number</label>
                            <!--16 digit card number-->
                            <input type="text" name="num" class="form-control" id="cc-number" placeholder="" pattern="([0-9]{16})" required>
                            <div class="invalid-feedback">
                                Enter valid card number
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="cc-expiration">Expiration</label>
                            <input type="month" name="exp" class="form-control" id="cc-expiration" placeholder="" required>
                            <div class="invalid-feedback">
                                Expiration date required
                            </div>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="cc-cvv">CVV</label>
                            <input type="text" name="cvv" class="form-control" id="cc-cvv" placeholder="" pattern="([0-9]{3})" required>
                            <div class="invalid-feedback">
                                Security code required
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <!--<button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>-->
                    <a asp-controller="Order" asp-action="LastPage">
                        <input type="button" class="btn btn-primary" value="Submit" />
                    </a>
                </form>
            </div>
        </div>
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2010-2020 Cimpress</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>



    <!-- Disable form submissions if there are invalid fields-->
    <script>
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
    </script>

    <!--Promo code application-->
    <script>
  function promo(){
    var x = document.getElementById("code1").value;
    var sum=document.getElementById("total").value;
    if(x==="CORONA50"){
    document.getElementById("pcode").innerHTML = x;
    document.getElementById("dis").innerHTML = "-$50";
    document.getElementById("total").innerHTML = "$120";
    }
    return true;
  }
    </script>
    </
    </body>

