﻿
@{
    ViewData["Title"] = "LastPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>&nbsp; &nbsp; &nbsp;Thank you for shopping with us</h1>
            </div>
        </div>
    </body>

